.dark {
  background-color: black;
  color: white;

  #ld {
    background-color: white;
    color: black;
  }

  #return {
    background-color: white;
    color: black;
  }

  #submit {
    background-color: white;
    color: black;
  }

  #name {
    background-color: white;
  }

  #title {
    background-color: white;
  }

  #content {
    background-color: white;
  }

  ::placeholder {
    color: black;
  }
  
  h1 {
    border-color: white
  }

  .input {
    border-color: white;
  }

}